<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDB2tYy0H00PNCO7-zp6JNKsVRylbFzPkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>87565541821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beyza.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>news-app-259ff</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-259ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87565541821:ios:a3b75f95b6f570200532d4</string>
</dict>
</plist>